body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fffdfb;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background: #3f2e02;
  }
  
  h1 {
    margin: 0;
    font-size: 28px;
  }
  
  h2 {
    margin-top: 5px;
    font-size: 20px;
    color: #ce8313;
  }
  
  section {
    padding: 20px;
    margin: 15px;
    background: #0d0c0c;
    border-radius: 8px;
  }
  
  h3 {
    color: #e3ac14;
  }
  
  p {
    line-height: 1.5;
  }
  
  footer {
    text-align: center;
    padding: 15px;
    background: #e89d06;
    margin-top: 20px;
  }
  
  /* Estilo da imagem principal */
  .img-principal {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  }
  