body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
    color: #222;
    overflow-x: hidden; /* evita vazar para os lados */
}

header {
    background: #0d47a1;
    color: white;
    text-align: center;
    padding: 30px;
}

.hero img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.bio, .fotos {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #0d47a1;
}

.galeria {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.galeria img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    background: #0d47a1;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* =======================================
        RESPONSIVIDADE PARA CELULAR
======================================= */
@media (max-width: 600px) {

    header {
        padding: 20px;
    }

    header h1 {
        font-size: 26px;
    }

    header p {
        font-size: 14px;
    }

    .hero img {
        max-height: 250px;
    }

    .bio, .fotos {
        padding: 15px;
    }

    h2 {
        font-size: 22px;
    }

    .galeria img {
        width: 100%;      /* ocupa toda a largura no celular */
        height: auto;     /* evita distorção */
        max-width: 350px; /* limite */
    }
}
