body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
    color: #222;
}

header {
    background: #0d47a1;
    color: white;
    text-align: center;
    padding: 30px;
}

.hero img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.bio, .fotos {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #0d47a1;
}

.galeria {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.galeria img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

footer {
    background: #0d47a1;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
